@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    grid-area: header ;
}

main{
    grid-area: main;
    
}

footer{
    grid-area: footer;
}


/* MENU NAV */



h1:hover{

    text-decoration: none;
}

/* 
nav ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    
}




a{
    text-decoration: none;
    
}




.nav-item {
    padding: 5px;
    list-style: none;
    color: rgb(188, 180, 172);
    font-size: 20px;
    font-weight: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    text-decoration: none;

}

.nav-link{

    font: size 20px;
    color: #d0c8c8;
    border-radius: 10px;
    list-style: none;

}
.nav-link:hover{

    color: #662e2e;
}
.info{

    color: #ccbdbd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info:hover{
    color: #662e2e;
}

*/


.bg-personalizado{
    background-color: #110d0d;
}

.nav-item {
    padding: 5px;
    list-style: none;
    color: rgb(188, 180, 172);
    font-size: 20px;
    font-weight: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    text-decoration: none;

}
.nav-link{

    font: size 20px;
    color: #d0c8c8;
    border-radius: 10px;
    list-style: none;

}
.nav-link:hover{

    color: #662e2e;
}
.navbar-brand{
    padding: 5px;
    list-style: none;
    color: rgb(188, 180, 172);
    font-size: 20px;
    font-weight: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;


}

/* MAIN */




.mainindex{
    background-image: url(../fotos/IMG_4280.jpg);
    background-size: 220vh;
    background-position: center;
    background-repeat: no-repeat;
   
   
  

}




.t1{

    text-decoration: none;
    text-align: center;
    
    color: rgb(35, 30, 30);
    font-family: 'Castoro Titling', cursive;
    font-size: 35px;
    font-weight: 100;
    font-style: bold;
    
}

.ti:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.t2{
    text-decoration: none;
    text-align: center;
    
    color: rgb(35, 30, 30);
    font-family: 'Castoro Titling', cursive;
    font-size: 35px;
    font-weight: 100;
    font-style: bold;

}

.t3{

    text-decoration: none;
    text-align: center;
    
    color: rgb(35, 30, 30);
    font-family: 'Castoro Titling', cursive;
    font-size: 35px;
    font-weight: 100;
    font-style: bold;
}

.titulop{

    font-size: 100px;
    padding-top: 300px;
    color: rgb(88, 62, 62);
    font-family: 'Castoro Titling', cursive;
    font-weight: 100;
    text-align: center;
    text-decoration: line-through;
   
   
    
    
    
    
}

h1{

    padding: 20px;
    color: rgb(146, 106, 106);
    font-family: 'Castoro Titling', cursive;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    text-decoration: line-through;
   
}


.menu {

    color: #b4a5a5;
    font-size: 24px;
    font-family: 'Castoro Titling', cursive;
    text-align: center;
    text-decoration: none;
    gap: 100px;
    display: flex;
    flex-direction: column;
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(2);
    gap: 40px;
    

    

}

h3{
    text-decoration: none;
    color: #0c0b0b;

}

/* SHOP MAIN */


.mainshop{

   background-image: url(../fotos/IMG_4193.JPG);
  
   padding: 150px;
   min-height: 100vh;
   max-height: 100%;

}






.s1{
    color: #b5aaaa;
    padding: 60px;
    
    
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.product img {
    width: 200px;
    height: 200px;
    background-color: #1a1818;
    border-radius: 10px;
    box-shadow: 5px 10px 7px 0px;
    display: flex;
    flex-direction: row;
   
    
}

.product h3,
.product p {
    margin: 10px 0;
    color: #ccbdbd;
    text-decoration: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
    
}

.product .price {
    font-weight: bold;
}

.gridproduct{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    
    color: #b5aaaa;

}




/* DATES MAIN */

.carousel-item img{

    height: 300px;
    width: 50%;
    object-fit: cover;
}


.carousel {

  padding: 50px;


}

.maindates{

    min-height: 100vh;
    max-height: 100%;
    padding: 50px;
    padding-top: 50px;
    
}

.bodydates{
    background-image: url(../fotos/single2.jpg);
    background-size: 220vh;
    background-position: center;
    background-repeat: no-repeat;

}









.dates{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 100px;
    
}

.date a{

    color: rgb(110, 76, 34);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;text-decoration: none;
}

.dates a:hover{

    color: #7d786e;
}

.dates2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
}


/* RELEASES */

.mainrelease{
    padding-top: 45px;
    min-height: 100vh;
    max-height: 100%;
}
.bodyrelease{

    background-image: url(../fotos/IMG_3235.JPG);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    
}




.r1{

    
    padding-bottom: 10px;
    font-size: 60px;
    color: #cec1c1;
}
.container1{
    position: relative;
}


.container2{
    position: relative;
}


.container3{
    position: relative;
}


.container4{
    position: relative;
}


.container5{
    position: relative;
}



.container6{
    position: relative;
}

.container {
    
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:hover .overlay {
    opacity: 1;
}

.musica{
    color: rgb(72, 57, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;

}

.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    align-self: center;
    flex-wrap: wrap;
    height: 900px;
    gap: 15px;
    min-height: 700px;
    max-height: 100px;
    padding: 50px
    


    
}

.tapa{
    width: 300px;
    box-shadow: 10px 10px 7px 0px;
   
}

.single{
    width: 300px;
    box-shadow: 10px 10px 7px 0px;
  

}

.presave{
    width: 300px;
    box-shadow: 10px 10px 7px 0px;
    

}
.single1{
    width: 300px;
    box-shadow: 10px 10px 7px 0px;
   

}

.single2{

    width: 300px;
   
    box-shadow: 10px 10px 7px 0px;
}

.single3{

    width: 300px;
    
    box-shadow: 10px 10px 7px 0px;
}


/* FOOTER */

/* links absolutos */



 footer {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #b4a5a5;
    background-color: #0c0b0b;
    padding: 10px;
    
    text-align: center;
}

footer a{
    color: inherit;
    text-decoration: none;

    
    
    
   
}




/* CONTACT CONTENT */

.bodycontact{

    min-height: 100vh;
    max-height: 100%;
}

.maincontact{

   
    height: 100 vh;
    margin: 0%;
}
form{
    text-align: center;
    text-decoration: none;
 
   

}
.boton{
    text-align: center;
    text-decoration: none;
 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contacto {
    color: black;
    font-family: 'Castoro Titling', cursive;
    font-size: 15px;
    font-weight: 60px;
    padding-bottom: 150px;
    font-style: normal

  
}




/* PISANDO BOOSTRAP */

.card{

    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
   
}


.btn-primary {
    background-color: #0c0b0b;
    border-color: #110d0d;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;

}

.bodycontact{

   background-color: #110d0d;
    
}

.card-body{
  background-color: #110d0d;
  border-color: #110d0d;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  

}
 
.btn{

    color: #662e2e;
   
}

.card-title{

    color: #ba6d6d;
}

/* MEDIA QUERIS */

@media (max-width:1024px) {


}

@media (max-width:480px) {

 
   .container{

    display: flex;
    flex-direction: column;
        
    
   }

   form{
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
   

}


footer a{
   display: flex;
   flex-direction: column;

    
    
   
}

nav ul{

    display: flex;
    flex-direction: column;
    background-color: #32302a;
    border-radius: 10px;
    
    
}

.return{

    font-size: 15px;
    

}

.info{

    font-size: 15px;
}


.titulop{

    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1e8e8;
   
    
   
    
    
    
    
}

.t1 {

    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t2 {

    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t3 {

    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.s1{

    font-size: 30px;
    justify-content: center;
    align-items: center;
}



.r1{

    
    
    font-size: 30px;
   
}

.grilla{
   
 display: flex;
 flex-direction: column;
    
}


.gridproduct {
   
   
    flex-direction: column;
    
    
}



.tapa{
    width: 100px;
  
   
}

.single{
    width: 100px;
   
  

}

.presave{
    width: 100px;
   

}
.single1{
    width: 100px;
   
   

}

.single2{

    width: 100px;
   
    
}

.single3{

    width: 100px;
    
  
}
.loginmedia h1{

    font-size: 25px;
    padding-top: 75px;
}

.mainindex{

    background-size: 100vh;
  
   
   
  

}










}